.AddPost {
  grid-area: add-post;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("./../../../img/add-post.jpg") center center no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

textarea {
  width: 346px;
  height: 152px;
  background: rgba(255, 255, 255, 0.24);
  border: 17px solid #a2d5f9;
  border-radius: 7px;
  padding: 10px;
}

textarea:focus {
  outline: none;
}

button {
  width: 150px;
  height: 41px;

  position: relative;
  background: rgba(255, 0, 61, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-width: 0;
  border-radius: 0px 40px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

button:before,button:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  transition: all .3s;
  transform: skewX(30deg);
}

button:before {
  left: -100%;
  background-color: #e80631;
  opacity: 0.3;
  z-index: -1;
}
button:after {
  right: -100%;
  background-color: #ebeb05;
  opacity: 0.3;
  z-index: -1;
}

button:hover::before {
  left: -50%;
}

button:hover::after {
  right: -50%;
}
