.app-wrapper {
  display: grid;
  width: 1440px;
  margin: 0 auto;

  grid-template-areas:
    "header header"
    "avatar add-post"
    "nav content";

  grid-template-columns: 249px 9fr;
  grid-template-rows: 55px 249px 1fr;

  gap: 5px;
  /* grid-gap: 10px; */
  
}
