.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr;
}

.dialogsItems {
  margin-top: 5.2rem;
  border-right: 0.8rem solid #9ec0f0;
  font-family: "Otaku Rant";
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;

  color: #000000;
}

.dialogsItems .active {
  color: gold;
}

.messages {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5.2rem;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #000000;
}
